* {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
    --white-light: #f8fbfb;
    --black: #333;
    --blue: #0b5cf4;
    --blue-light: #01c2ff;
    --green-light: #63fad1;
    --grey: #d1d2d3;
    --green-light: #63fad1;
    --desktop: ;
    --tablet: ;
    --blue-light: #01c2ff;
    --red: #ff1e00;
  }

#divLogin {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 40%;
    background-color: white;
    width: 450px;
    height: 400px;
    gap: 20px;
    border-radius: 50px 0px 50px 0px;
    opacity: 0.85;
}

#plogin {
    font-size: 30px;
    font-weight: bolder
}

#pNovoFuncionario {
    font-weight: bolder;
}

#imgLogo {
    width: 200px;
}


.inputLogin {
    width: 60%;
    padding: 10px 20px 10px 20px;
    border-radius: 20px 0px 20px 0px;
    border-color: black;
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
}

#registro:focus {
    box-shadow: 0px 0px 20px 5px black;
    transition: 0.5s;
}

#senha:focus {
    box-shadow: 0px 0px 20px 5px black;
    transition: 0.5s;
}


#entrar {
    border-color: var(--red);
    border-style: double;
    padding: 10px;
    font-weight: bolder;
    color: var(--red);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#entrar:hover {
    background-color: var(--red);
    color: var(--white);
}

#criarConta {
    color: black;
}

@media (max-width: 1360px) {
    #divLogin {
        top: 20%;
        left: 30%;
    }
}
