*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bolder;
}

#botaoLogoff {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    width: 100%;
    font-weight: bolder; 
}

#sair {
    border-color: var(--red);
    border-style: double;
    background-color: #171c21;
    padding: 10px;
    font-weight: bolder;
    color: var(--red);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#sair:hover {
    background-color: var(--red);
    color: var(--white);
}


#logoEbotao {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Parte dos campos de lançamento de horas */

#containerLancamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 600px;
    gap: 50px;
}

#divInterno {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 40px;
    gap: 70px;
    padding: 20px;
}

#divSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#data {
    font-weight: bold;
    border-radius: 10px;
    border-style: double;
    border-color: black;
    padding: 5px;
    width: 100%;
}

#divMedio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.campoHoras {
    border-radius: 10px;
    border-style: double;
    border-color: black;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

#divPequeno {
    display: flex;
    flex-direction: column;
}

.divEsquerdo {
    align-items: flex-end;
}

.inputCadastro {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 20px 0px 20px 0px;
    border-color: black;
    border-style: double;
}


#divMotivos {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}


#divBotaoLancar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputMaior {
    border-radius: 10px;
    border-style: double;
    border-color: black;
    padding: 5px;
    width: 200px;
}

#lancarHora {
    border: 3px solid var(--red);
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    background-color: #171c21;
    color: var(--red);
    cursor: pointer;
}

#lancarHora:hover {
    background-color: var(--red);
    color: white;
    transition: 0.3s;
}

#diaDeBanco {
    border: 3px solid var(--red);
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    background-color: #171c21;
    color: var(--red);
    cursor: pointer;
}

#diaDeBanco:hover {
    background-color: var(--red);
    color: white;
    transition: 0.3s;
}

@media (max-width : 1366px) {
    body {
        margin-top: 50px;
        background-position-y: 300px;
        background-attachment: scroll;
    }


    #containerLancamento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        gap: 30px;
    }
}


@media (max-width: 700px) {
    #divMedio {
        flex-direction: column;
    }
    body {
        margin-top: 5px;
        overflow: hidden;
        width: 97%;
    }

    html {
        overflow: hidden;
    }
}
