<div class="grid-layout">
    <nav>
      <ul>
        <li>
          <a href="../pages/resumoHoras/resumoHoras.html">
            <img
              src="../assets/background.jpg"
              alt="Logo da Associação Jovens do Futuro"
            />
          </a>
        </li>
  
        <button class="menu"></button>
  
        <ul class="box-links">
          <li id="botaoCad" style="display: none;">
            <a class="a-text" href="../pages/cadastro/cadastro.html">Novo funcionário</a>
          </li>
          <li id="botaoPes" style="display: none;">
            <a class="a-text" href="../pages/fichaFuncionario/fichaFuncionario.html">Relatório funcionário</a>
          </li>
          <li>
            <a class="a-text" href="../pages/resumoHoras/resumoHoras.html">Relatório</a>
          </li>
          <li>
            <a href="./pages/lancarHoras/lancarHora.html">
              <button class="button button-text">Lançar horário &#8594;</button>
            </a>
          </li>
        </ul>
      </ul>
    </nav>
  </div>

  <script type="module">

import { alertas, alertaPageAtual } from '../pages/sweetalert.js';

    document.getElementById('sairr').addEventListener('click', async () => {
      console.log('Entrei no logoff')
      const requisicao = await fetch ('https://pontociespapi.onrender.com/usuario/logoff', {
          method : 'POST',
          credentials : 'include',
          headers : {
              'content-type' : 'application/json',
              'Cookies' : decodeURIComponent(document.cookie)
          }
      })

      const resposta = await requisicao.json();

      console.log(resposta);

      if (resposta.status == 'success') {
          const d = new Date();
          d.setTime(d.getTime() + (3*60*60*1000));
          let expires = "expires="+ d.toUTCString();
          console.log(resposta);

          document.cookie = `usuario=${resposta.cookie}; expires=${expires}; path=/;`;

          window.location.href = '../login/index.html';

      } else {
          alertaPageAtual(resposta.status, resposta.msg);
      }
    })

  </script>
