* {
    margin: 0;
    padding: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: green;
} */

#divSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#labelSenha {
    font-size: 100px;
}

p {
    font-size: 300px;
}

#numero {
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Parte chamar senha */

